@media only screen and (min-width: 1366px) {
    .container {
        width: 1290px;
        max-width: 1290px;
    }
}
@media (max-width: 980px) {
    .menu-top li a{
        padding: 10px 7px;
    }
}
@media (max-width: 768px) {
    .nav-lan .language-nav a{
        margin-right:10px;
        margin-left:0px;
    }
    .nav-lan .search-nav{
        display:block!important;
    }
    .form-search{
        margin-bottom:10px;
    }
    .form-search input[type="text"]{
        width:100%;
        border:1px solid #ccc;
        -webkit-border-radius:0px!important;
        -moz-border-radius:0px!important;
        border-radius:0px!important;
    }
    .form-search input[type="submit"]{
        top:0px;
        right:0px;
        position: absolute;
    }
    .nav-lan{display:block;margin-top:10px}
    .menu-responsive{
        display:block;
    }
    .no-respon{
        display:none;
    }
    .dt-menu-toggle{display:block;}

    .logo-respon{
        display:block;
        text-align: center;
        margin-bottom:20px;
    }
    .phoen-bottom{
        float:none;
        padding-left:0px;
        margin-top:20px;
    }
    .title_product{
        margin-top:20px;
    }
    .main-product{
        padding:20px 0px;
    }
    .box-form{padding:0px!important;}
    .main{padding-right:0px!important;padding-left:0px!important;}
    .bot-footer{height:auto;}
    .home-title{font-size:20px;}
    .main-primary{
        position: static;
        height: auto;
    }
    .input-text{margin-top:10px;}
    #socical{float:left;margin-top:20px;padding-left:0px;}
    .main-kh{
        background: none!important;
    }
    .main-kh .home-title, .title_project a{color:#000}
    .logo-index{
        display: none;
    }
    .breadcrumb-edit{
        display:none;
    }
    .main-about .body-about{padding:0px;}
    .image-kh img{height:auto;}
    .home-logo{
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }
    .col-river{
        display: block;
        text-align: center;
    }
    .box-main{
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
    }
    .row-language,.phone-top{
        display: block;
        text-align: right;
        width: 100%;
    }
    .phone-top span{
        font-size: 18px;
    }
    #owl-about .owl-controls .owl-buttons{
        display: none;
    }
    .bar-menu{
        width: 40px;
        height: 40px;
        top:2px;
        left: 0px;
        bottom: 0;
        padding-left: 0;
        padding-right: 0;
        display: table;
        background: #ec1019;
        border: none;
    }
    .bar-menu .icon-bar{
        background: #fff;
        display:block;
        width: 30px;
        height: 2px;
        margin: 5px auto;
        float: none;
    }
    .body-menu{
        display: none;
        width: 100%;
    }
    .body-menu .navbar-nav{
        margin: 0;
    }
    .menu-top{
        margin-top: 5px;
    }
    .item-menu{
        background: #0161aa;
    }
    .body-menu .nav li ul li{
        background: #0b688a;
    }
    .menu-top li ul li a:hover{
        background: #c0b89c;
        color: #fff;
    }
    .navbar-menu{
        margin: 0px;
    }
    .navbar-menu ul{
        width: 100%;
    }
    .navbar-menu ul ul{
        position: relative;
    }
    .menu-top li,.navbar-menu ul li{
        float: none;
        background: #0f76c5;
    }
    .menu-top li.item-menu{
        background: none;
    }
    .main-slide{
        display: none;
    }
    .main{
        padding-right: 15px;
        padding-left: 15px;
    }
    .container-menu{
        padding-right: 0;
    }
    ul.sub-child{
        position: relative;
        right: 0;
    }
    .pdright0{
        padding-right: 15px;
    }
    .main-breadcrumb{
        display: none;
    }
    .main-search{
        background: transparent;
        height: auto;
        margin-bottom: 20px;
    }
    .content-form{
        width: auto;
    }
    .fixed{
        position: relative!important;
    }
    .main-product ul{
        margin: 0;
        width: 100%;
    }
    .main-product ul li{
        width: 50%;
    }
    .col-news{
        margin-bottom: 20px;
        width: 50%;
        float: left;
    }
    .main-service{
        padding-bottom: 20px;
    }
}
@media (max-width: 480px) {
    .main-product ul li{
        width: 100%;
        float: none;
    }
    .col-news{
        margin-bottom: 20px;
        width: 100%;
    }
    .row-category{
        background: #eff1f0 ;
    }
    .row-category-inner{
        display: inline-block;
        width: 100%;
    }
    .row-category-group{
        display: inline-block;
        width: 100%;
        background: transparent;
    }
    .category-more{
        right: 2px;
    }
    .tabs-product ul li.active,.item-tab.active:last-child{
        background: #ED1C24 ;
    }
    .fist-item,.item-tab,.item-tab:last-child{
        background:#D4D4D4;
        width: 100%;
        float: none;
        border-bottom: 1px solid #0161aa;
        display: inline-block;
    }
    .row-category-group{
        min-width: 100px;
    }
    .setting-contact ul{
        padding-top: 5px;
    }
    .setting-contact ul li{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .setting-contact ul li.hotline span{
        font-size: 12px;
    }

}